
body{
    background-color: #F8C4B4;
    
}

/*img:hover{
    transform: scale(1.5);
}*/

h1{
    color: #150050;
}
h3{
    color: #150050;
}

hr{
    
    border-style: none;
    border-top-style: solid;
    border-color: whitesmoke;
    border-width: 2px;
    width: 30%;
}

.zoom {
    transition: transform .2s; /* Animation */
    
  }
  
  .zoom:hover {
    transform: scale(2); 
  }


.circular{
    border-radius: 100%;
}

.container {
    display: grid;
    position: relative;
    place-items: center;  /* horizontal center */
    align-items: center;      /* vertical center */
    height: 150px;
  }

  .centered {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 80%;
    height: fit-content;
    text-align: center;
  }
